<div class="jumbotron-fluid">
  <h1 class="display-3">Welcome to Formy</h1>
  <p class="lead">This is a simple site that has form components that can be used for testing purposes.</p>
  <hr class="my-4">
  <p>Here are the list of all the components</p>
    <li><%= link_to "Autocomplete", autocomplete_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Checkbox", checkbox_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Datepicker", datepicker_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Drag and Drop", dragdrop_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Dropdown", dropdown_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Enabled and disabled elements", enabled_path, class: "btn btn-lg" %></li>
    <li><%= link_to "File Upload", fileupload_path, class: "btn btn-lg" %></li>
    <li><%= link_to "File Download", filedownload_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Key Press", keypress_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Modal", modal_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Mouse Press", mousepress_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Page Scroll", scroll_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Radio Button", radiobutton_path, class: "btn btn-lg" %></li>
    <li><%= link_to "Complete Web Form", form_path, class: "btn btn-lg" %></li>
</div>
