<nav class="navbar navbar-expand-lg bg-light">
  <%= link_to "Formy", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Form", form_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Components
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Autocomplete", autocomplete_path, class: "dropdown-item" %>
          <%= link_to "Buttons", buttons_path, class: "dropdown-item" %>
          <%= link_to "Checkbox", checkbox_path, class: "dropdown-item" %>
          <%= link_to "Datepicker", datepicker_path, class: "dropdown-item" %>
          <%= link_to "Drag and Drop", dragdrop_path, class: "dropdown-item" %>
          <%= link_to "Dropdown", dropdown_path, class: "dropdown-item" %>
          <%= link_to "Enabled and disabled elements", enabled_path, class: "dropdown-item" %>
          <%= link_to "File Upload", fileupload_path, class: "dropdown-item" %>
          <%= link_to "Key and Mouse Press", keypress_path, class: "dropdown-item" %>
          <%= link_to "Modal", modal_path, class: "dropdown-item" %>
          <%= link_to "Page Scroll", scroll_path, class: "dropdown-item" %>
          <%= link_to "Radio Button", radiobutton_path, class: "dropdown-item" %>
          <%= link_to "Switch Window", switch_window_path, class: "dropdown-item" %>
          <%= link_to "Complete Web Form", form_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
